* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background: url(../img/bg1.png);
    min-height: 1080px;
}
.wrapper {
    width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.logo {
    position: relative;
}
.logo_image {
    z-index: 1;
    position: relative;
}
.logo_line {
    position: absolute;
    top: 125px;
    left: 0;
    height: 57px;
    background: rgba(196, 81, 77, 0.8);    
}
.logo_line_text {
    z-index: 1;
    position: relative;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.txt_mainmenu {
    font-family: 'Minion Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 720px;
    margin: 0 auto;
}
.btn_catalog{
    position: relative;
    width: 236px;
    height: 56px;
    display: block;
    text-align: center;
    padding-top: 15px;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 117.8%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #C4504C;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 15px;
    font-family: 'Gilroy';
}
.container_mainmenu{
    position: relative;
}
.vk_logo {
    position: absolute;
    top: 135px;
}
.mainmenu_line {
    margin-top: 120px;
    border: 0.5px solid #FFFFFF;
}
.info_menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
.btn_bottommainmenu {
    text-decoration: none;
}
.btn_bottommainmenu:hover {
    color: #D24E44;
}
.info_item{
    position: relative;
}
.info_item a{
    color: #FFFFFF;
}
.info_item a:hover::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: #FFFFFF;
    left: 50%;
    top: -15px;
}


/*---main---*/
main{
    background-color: black;
}
.txt_second {
    text-align: center;
    font-family: 'Minion Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 119.38%;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #E9D3B0;
    max-width: 720px;
    margin: 0 auto;
}

.txt_third {
    text-align: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 154.88%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #E9D3B0;
    max-width: 720px;
    padding-top: 70px;
    margin: 0 auto;
}
.container_secondmenu{
    padding-top: 50px;
}
.colortext{
    color: #D24E44;
}

.title_catalog{
    color: #FFFFFF;
}
.line_catalog{
    border: 1px solid white; 
}